.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("https://etvbharatimages.akamaized.net/etvbharat/prod-images/1200-675-18504368-161-18504368-1684080824542.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
