.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("https://img.freepik.com/free-photo/flat-lay-medical-composition-with-copyspace_23-2148124800.jpg?w=1380&t=st=1709485759~exp=1709486359~hmac=da1da225db6a9fafe51accd7faba17ce07f27ddf81387cb42b0046ca9f54b395");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
